name: Deploy Lambda (Python)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Zip Lambda code
        run: |
          zip -r function.zip lambda_function.py

      - name: Deploy to AWS Lambda
        uses: appleboy/lambda-action@v0.2.0
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ${{ secrets.AWS_REGION }}
          function_name: FFOracle-Updater
          zip_file: function.zip
          runtime: python3.12
          handler: lambda_function.lambda_handler
          timeout: 300
          memory_size: 128
